nav ul li{
    text-align: center;
    font-size: 1.5em;
    width: calc(100%/3);
    height: 2rem;
    display: inline-block;
    border-right: 1px solid black ;
}

nav ul li:last-child{
    border: none;
}

ul li {
    margin-right: -4px;
}

article img{
    width: 25%;
    float: left;
    margin: .75em;
}


a {
    color: inherit;
    text-decoration: inherit;
}

#story {
    box-sizing: border-box;
    margin: .8em;

}

section div {
    box-sizing: border-box;
    border: 1px solid black;
}

img{
    width:100% ;
}

.header {
    position: relative;
    text-align: center;
    color: white;
}

.centered{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    max-width: 800px;
    margin: 0px  auto ;
    background-color: #e3fffd;
    position: relative;
}



body {
    background-color: #aad4cf;
    font-family: helvetica, arial;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
    margin-bottom: .5em;
}

h3{
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: .5em;
}

h4{
    font-size: 1.1em;
    margin-bottom: .5em;
    margin-top: .5em;
}

article p{
    line-height: 1.4em;
    font-size: .9em;
}

#facts{
    line-height: 1.4em;
    font-size: .9em;
    box-sizing: border-box;
    margin: .8em;
}

#contact{
    box-sizing: border-box;
    margin: .8em;
}
